// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #3D7B3E !default;

// Green Variants
$greensea: #16a085;
$emerald: #2ecc71;
$mountain-meadow: #10ac84;
$pure-apple: #6ab04c;
$skirret-green: #44bd32;
$aurora-green: #78e08f;
$pixelated-glass: #009432;

//white Variants
$twinkle-blue: #ced6e0;
$innuendo: #a5b1c2;
